@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input:focus-visible {
    outline: 0;
}
h1{

    margin: 0 auto 120px auto;
    font-family: serif;
    font-size: 100px;
}

.main {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.box {
    min-width: 400px;
    padding: 30px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);

    border-radius: 20px;
}

#pass-box {
    width: 100%;
    display: block;
    font-size: 30px;
    padding: 10px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.row {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: black;
    font-size: 20px;
}

label {
    user-select: none;
}

#btn {
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color:blueviolet;
    color: white;
    margin-top: 10px;
    border-radius: 40px;
    cursor: pointer;
}